<div class="container">

<div class="row col-10 mt-4">
	<h1>The List</h1>
</div>

<div class="row col-10 pb-2 mb-2">
	<a href="/toggleInactive"><em>Hide Inactives</em></a>
</div>

<div class="row col-10">
	<table class="table">
	<thead>
	<tr>
		<th class="">Priority</th>
		<th class="">Name</th>
		<th class="">BECAUSE REASONS</th>
		<th></th>
	</tr>
	</thead>
	{{#lista}}
	<tbody>
	<tr>
		<td>{{priority}}</td>
		<td>{{name}}</td>
		<td class="edit">{{reason}}</td>
		<td><a class="btn btn-primary" href="/end/{{id}}">Resolve</a></td>
	</tr>
	{{/lista}}
	
	</tbody>

	</table>
</div>

{{#if active}}

<div class="row col-10">
	<h2>Inactive</h2>
</div>

<div class="row col-10">
	<table class="table">
	<thead>
	<tr>
		<th>Priority</th>
		<th>Name</th>
		<th>BECAUSE REASONS</th>
		<th>Gloats</th>
	</tr>
	</thead>
	<tbody>
	{{#listi}}
	<tr>
		<td>{{priority}}</td>
		<td>{{name}}</td>
		<td class="edit">{{reason}}</td>
		<td>{{gloats}}</td>
	</tr>
	{{/listi}}
	</tbody>

	</table>
</div>

{{/if}}

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/list.js"></script>

</body>
</html>
