<div class="container">

<div class="row col-10 mt-4">
	<h1>The List</h1>
</div>

<div class="row col-10 pb-2 mb-2">
	<a href=""><em>Hide Inactives</em></a>
</div>

<div class="row col-10">
	<table class="table">
	<thead>
	<tr>
		<th class="">Priority</th>
		<th class="">Name</th>
		<th class="">BECAUSE REASONS</th>
		<th></th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>1</td>
		<td>Some Guy</td>
		<td class="edit">Annoying</td>
		<td><a class="btn btn-primary" href="/end">Resolve</a></td>
	</tr>

	<tr>
		<td>2</td>
		<td>Some Other Person</td>
		<td class="edit">Their face</td>
		<td><a class="btn btn-primary" href="/end">Resolve</a></td>
	</tr>

	<tr>
		<td>2</td>
		<td>Some Gal</td>
		<td class="edit">Probably something</td>
		<td><a class="btn btn-primary" href="/end">Resolve</a></td>
	</tr>
	</tbody>

	</table>
</div>

<div class="row col-10">
	<h2>Inactive</h2>
</div>

<div class="row col-10">
	<table class="table">
	<thead>
	<tr>
		<th>Priority</th>
		<th>Name</th>
		<th>BECAUSE REASONS</th>
		<th>Gloats</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>2</td>
		<td>Testerson</td>
		<td class="edit">Didn't pass</td>
		<td>I'm right behind you, Stillwell!</td>
	</tr>

	<tr>
		<td>3</td>
		<td>Jimminy Cricket</td>
		<td class="edit">Keeps correcting me</td>
		<td>Didn't see that coming.</td>
	</tr>
	</tbody>

	</table>
</div>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/list.js"></script>

</body>
</html>
